body {
  font-family: 'Cormorant Garamond', serif;
}

.columns {
  display: flex;
  flex-direction: row;
}

.sidebar {
  float: center;
  border-right: 10px solid white;
  margin-top: 0px;
  width: 0px;
  font-size: large;
  font-family: 'Cormorant Garamond', serif;
}

.sidebar ul li {
  list-style: none;
}

/* @media screen and (max-width: 780px) {
  .sidebar{
    display: none;
  }
} */

.main {
  flex: 1;
  font-size: x-large;
  font-family: 'Great Vibes', cursive;
}

.main .image-wrapper {
  display: inline-block;
  font-size: large;
}

.main .image-wrapper img {
  width: 500px;
  height: auto;
}


#main-image {
  height: 600px;
  text-align: center;
}

#main-image img {
  height: 100%;
  width: auto;
}

.slider {
  width: 100%;
  min-height: 300px;
  max-width: 900px;
  background-color: #ffffff;
  margin: auto;
}

.slick-arrow::before {
  color: black;
}
