body {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Raleway', sans-serif;
}

.columns {
  display: flex;
  flex-direction: row;
}

.sidebar {
  float: center;
  border-right: 10px solid white;
  margin-top: 0px;
  width: 180px;
  font-size: large;
  font-family: 'Cormorant Garamond', serif;
}

.sidebar ul li {
  list-style: none;
}

.main {
  flex: 1;
  font-size: x-large;
  font-family: 'Great Vibes', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Raleway', sans-serif;
}

.main .image-wrapper {
  display: inline-block;
  font-size: large;
}

.main .image-wrapper img {
  width: 500px;
  height: auto;
}

#main-image {
  text-align: center;
}

#main-image img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 550px;
}

.slider {
  width: 100%;
  min-height: 300px;
  max-width: 900px;
  background-color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
  color: gray;
  font-size: medium;
  margin: auto;
}

.slick-arrow::before {
  color: black;
}

.slick-prev {
  left: 0;
  z-index: 10;
}

.slick-next {
  right: 0;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #fff;
  padding: 14px 0;
}

.titulo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 55px;
}

.site-title h1 {
  margin: 0;
  color: gray;
}

/* Center brand  */
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-header {
  display: flex;
  justify-content: center;
}

.navbar-toggle {
  background-color: lightgrey;
}
.navbar-toggle .icon-bar {
  background-color: black;
}

/* Style the links inside the navigation bar */
.navbar-brand .font3 {
  color: #333;
}

.navbar-nav a {
  font-size: 15px;
  color: lightgray;
}

/* Change the color of links on hover */
.navbar-nav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #fff;
  color: #333;
}

.font1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: medium;
}

.font2 {
  color: gray;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}

.font3 {
  color: gray;
  font-family: 'Press Start 2P', cursive;
  font-size: large;
}

.font4 {
  color: gray;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

.text {
  text-align: center;
  color: gray;
  font-family: 'Cormorant Garamond', serif;
  margin: 0 50px;
}

.form {
  margin: 0 0 0 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.social img {
  height: 30px;
  width: 30px;
}

.gifs img {
  max-width: 100%;
}

.gifs > div {
  text-align: center;
  margin-bottom: 15px;
}

.caballos-grid {
  margin-bottom: 100px;
}
.caballos-grid img {
  max-width: 100%;
  height: auto;
}

.caballos-grid > div {
  text-align: center;
  margin: 30px 0;
}

/* Below this line use for media queries
* ================================================================================
*
* xs
* @media (max-width: 768px) { ... }
* this is the default because mobile first, so everything above is xs
*/

/* ---------------------------------------------------------------------------- */
/* sm */
@media screen and (min-width: 768px) {
  /* Center brand  */
  .navbar-header {
    display: flex;
    justify-content: center;
    float: unset;
  }
  .slick-prev {
    left: -25px;
  }

  .slick-next {
    right: -25px;
  }

  .caballos-grid > div {
    max-height: 332px;
  }
}
/* ---------------------------------------------------------------------------- */
/* md */
@media screen and (min-width: 992px) {
  .navbar-header {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
  .nav-container {
    display: block;
  }
}
/* ---------------------------------------------------------------------------- */
/* lg */
@media screen and (min-width: 1200px) {
}
