body {
  font-family: 'Cormorant Garamond', serif;
}

.columns {
  display: flex;
  flex-direction: row;
}

.sidebar {
  float: center;
  border-right: 10px solid white;
  margin-top: 0px;
  width: 180px;
  font-size: large;
  font-family: 'Cormorant Garamond', serif;
}

.sidebar ul li {
  list-style: none;
}

/* @media screen and (max-width: 780px) {
  .sidebar{
    display: none;
  }
} */

.main {
  flex: 1;
  font-size: x-large;
  font-family: 'Great Vibes', cursive;
}

.main .image-wrapper {
  display: inline-block;
  font-size: large;
}

.main .image-wrapper img {
  width: 500px;
  height: auto;
}


#main-image {
  height: 600px;
  text-align: center;
}

#main-image img {
  height: 100%;
  width: auto;
}

.slider {
  width: 100%;
  min-height: 300px;
  max-width: 900px;
  background-color: #ffffff;
  margin: auto;
}

.slick-arrow::before {
  color: black;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
  padding: 14px;
}

.site-title h1 {
  margin: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .nav-menu a {
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .nav-menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fff;
  color: #333;
}