body {
  font-family: 'Cormorant Garamond', serif;
}

.columns {
  display: flex;
  flex-direction: row;
}

.sidebar {
  border-right: 1px solid #cecece;
  margin-top: 100px;
  width: 200px;
}

.sidebar ul li {
  list-style: none;
}

/* @media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }
} */

.main {
  flex: 1;
}

#main-image {
  height: 600px;
  text-align: center;
}

#main-image img {
  height: 100%;
  width: auto;
}

.slider {
  width: 100%;
  min-height: 300px;
  max-width: 500px;
  background-color: #cdcdcd;
  margin: 0 30px;
}

.slick-arrow::before {
  color: black;
}
